:root {
    --brand-yellow-fee600: rgba(254, 230, 0, 1);
    --brand-yellow-hover-fed500: rgba(254, 213, 0, 1);
    --black-000000: rgba(0, 0, 0, 1);
    --black-900-1a1a1a: rgba(26, 26, 26, 1);
    --black-800-333333: rgba(51, 51, 51, 1);
    --black-700-4d4d4d: rgba(77, 77, 77, 1);
    --black-600-666666: rgba(102, 102, 102, 1);
    --black-500-808080: rgba(128, 128, 128, 1);
    --black-400-999999: rgba(153, 153, 153, 1);
    --black-300-b3b3b3: rgba(179, 179, 179, 1);
    --black-200-cccccc: rgba(204, 204, 204, 1);
    --black-100-e5e5e5: rgba(229, 229, 229, 1);
    --black-50-f2f2f2: rgba(242, 242, 242, 1);
    --black-25-f9f9f9: rgba(249, 249, 249, 1);
    --white-ffffff: rgba(255, 255, 255, 1);
    --system-blue-007aff: rgba(0, 122, 255, 1);
    --system-blue-click-0055b2: rgba(0, 98, 204, 1);
    --system-red-ff3b30: rgba(255, 59, 48, 1);
    --system-red-800-cc2f26: rgba(204, 47, 38, 1);
    --system-orange-ff9500: rgba(255, 140, 0, 1);
    --system-green-26a212: rgba(38, 162, 18, 1);
    --system-green-800-1b850a: rgba(27, 133, 10, 1);
    --hint-placeholder-font-family: "SF Pro Display", Helvetica;
    --hint-placeholder-font-weight: 400;
    --hint-placeholder-font-size: 11px;
    --hint-placeholder-letter-spacing: 0.30000001192092896px;
    --hint-placeholder-line-height: 12px;
    --hint-placeholder-font-style: normal;
    --placeholder-value-font-family: "Roboto", Helvetica;
    --placeholder-value-font-weight: 400;
    --placeholder-value-font-size: 15px;
    --placeholder-value-letter-spacing: 0px;
    --placeholder-value-line-height: 20px;
    --placeholder-value-font-style: normal;
    --accent-button-font-family: "Roboto", Helvetica;
    --accent-button-font-weight: 500;
    --accent-button-font-size: 20px;
    --accent-button-letter-spacing: 0.30000001192092896px;
    --accent-button-line-height: 24px;
    --accent-button-font-style: normal;
    --button-label-font-family: "Roboto", Helvetica;
    --button-label-font-weight: 700;
    --button-label-font-size: 15px;
    --button-label-letter-spacing: 0.30000001192092896px;
    --button-label-line-height: 20px;
    --button-label-font-style: normal;
    --small-button-label-font-family: "Roboto", Helvetica;
    --small-button-label-font-weight: 500;
    --small-button-label-font-size: 15px;
    --small-button-label-letter-spacing: 0.30000001192092896px;
    --small-button-label-line-height: 20px;
    --small-button-label-font-style: normal;
    --micro-button-label-font-family: "Roboto", Helvetica;
    --micro-button-label-font-weight: 500;
    --micro-button-label-font-size: 12px;
    --micro-button-label-letter-spacing: 0.30000001192092896px;
    --micro-button-label-line-height: 20px;
    --micro-button-label-font-style: normal;
    --big-label-button-font-family: "Roboto", Helvetica;
    --big-label-button-font-weight: 500;
    --big-label-button-font-size: 20px;
    --big-label-button-letter-spacing: 0.30000001192092896px;
    --big-label-button-line-height: 20px;
    --big-label-button-font-style: normal;
    --checkbox-font-family: "SF Pro Display", Helvetica;
    --checkbox-font-weight: 400;
    --checkbox-font-size: 12px;
    --checkbox-letter-spacing: 0.30000001192092896px;
    --checkbox-line-height: 20px;
    --checkbox-font-style: normal;
    --indicator-text-font-family: "SF Pro Display", Helvetica;
    --indicator-text-font-weight: 700;
    --indicator-text-font-size: 9px;
    --indicator-text-letter-spacing: 0.30000001192092896px;
    --indicator-text-line-height: 10px;
    --indicator-text-font-style: normal;
    --title-font-family: "Poppins", Helvetica;
    --title-font-weight: 600;
    --title-font-size: 20px;
    --title-letter-spacing: 0px;
    --title-line-height: 28px;
    --title-font-style: normal;
    --form-shadow: 0px 12px 24px 0px rgba(77, 77, 77, 0.08);
  }
  